* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-left:auto;
    margin-right:auto;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(rgb(120, 68, 0), rgb(219, 152, 43), rgb(120, 68, 0));
}

nav {
    background-color: rgb(245, 165, 74);
    border: solid 2px rgb(120, 68, 0);
    height: 48px;
}

.button {
    margin-left: 15px;
    margin-top: 6px;
    background-color: rgb(168, 147, 104);
    border: 3px solid rgb(103, 69, 1);
    border-radius: 12px;
    padding: 0.25%;
}

.link{
    font-size: 150%;
    text-decoration: none;
    color: rgb(255, 230, 204)
}

.button:hover {
    background-color: rgb(210, 191, 151);
    border: 3px solid rgb(103, 69, 1);
    border-radius: 12px;
    padding: 0.25%;
    color: rgb(229, 118, 0)
}

h1 {
    text-align: center;
    margin-top: -30px;
    color: rgb(255, 230, 204);
    font-size: 24px;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: rgb(120, 68, 0);
}


#gameboard {
    width: 480px;
    height: 480px;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.square {
    width: 60px;
    height: 60px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.square.selected {
    position: relative;
}

.square.selected::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(34, 124, 16, 0.342); /* transparent overlay */
    z-index: 1;
    pointer-events: none;
}

.whitecell{
    background-color: rgb(255, 195, 99);
}

.blackcell{
    background-color: rgb(224, 130, 35);
}

.beige{
    background-color: rgb(255, 195, 99);
}

.brown{
    background-color: rgb(224, 130, 35);
}

.piece{
    width: 60px;
    height: 60px;
    text-align: center;
    pointer-events: none;
}

.player-details {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    width: 480px;
    height: 64px;
    background-image: linear-gradient(rgb(187, 122, 36), rgb(240, 170, 58));
    border: solid 5px rgb(90, 54, 7);
    border-radius: 15px;
}

.stat-text {
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-size: 45px;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: black;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.turn-input {
    margin-left: -120px
}

.highlight {
    background-color: rgba(83, 255, 48, 0.342); /* transparent overlay */
}