* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #efdcc3;
    box-sizing: border-box;
}

.start-screen {
    position: absolute;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    height: 100%;
}


.navbar {
    width: 100vw;
    background-color: brown;
    display: flex;
    flex-direction: row;
    height: 43px;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5vw;
}

.home-button {
    background-color: burlywood;
    width: fit-content;
    padding: 5px;
    border-radius: 10px;
    font-size: large;
    text-decoration: none;
    color: black;
}

.home-button:hover {
    cursor: pointer;
    color: brown;
}

.logo {
    background-color: burlywood;
    border: 2px solid black;
    width: fit-content;
    padding: 5px;
    border-radius: 10px;
    font-size: large;
    display: flex;
}

.right {
    display: flex;
    gap: 3px;
}

.settings {
    background-color: burlywood;
    border: 2px solid black;
    width: fit-content;
    padding: 5px;
    border-radius: 10px;
    display: flex;
}

.settings-popup {
    width: 20em;
    height: 20em;
    background-color: burlywood;
    position: absolute;
    right: 5em;
    top: 3em;
    display: none;
    overflow: auto;
    gap: 8px;
    border-radius: 25px;
}

.team {
    margin: 8px 0px 8px 6px;
    font-size: 1.6rem;
    padding-bottom: 9px;
    border-bottom: 1px solid black;
}

.username, .level {
    font-size: 1rem;
}

.bio {
    font-size: 0.8rem;
}

.add-team {
    display: none;
    margin: 0px 0px 8px 10px;
}

.add-team.active {
    display: block;
}

.settings-popup.active, .edit-section.active {
    display: block;
}

.add-player-btn {
    margin-left: 10px;
}

.edit-section p {
    font-size: 1rem;
}

.edit-section {
    display: none;
}

.buttons {
    margin-left: 1.5vw;
    gap: 14px;
    display: flex;
}

.board {
    display: grid;
    grid-template-rows: repeat(6, 50px);
    grid-template-columns: repeat(7, 50px);
    gap: 8px;
    background-color: blue;
    padding: 20px;
    border-radius: 10px;
    width: 27em;
    height: 24em;
    justify-content: center;

}

.cell {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 455px) {
    .board {
        width: 24em;
        height: 20em;
        gap: 0px;
    }

    .cell {
        width: 40px;
        height: 40px;

    }
}